<div class="about-block">
  <div class="container image-block" @slideInHorizontalLeft>
    <img src="/photo-alpha2.jpg" class="" />
  </div>
  <div class="intro-block" @slideInHorizontalTop>
    <h1>A propos de moi</h1>
    <p>
      Je suis <b>Alpha Oumar BALDE</b>, je poursuis mes études en Licence 3
      MIAGE à l’Université Paris Saclay. Passionné par le développement Full
      Stack, je suis à la recherche d’une alternance à partir de septembre 2025,
      que ce soit dans le développement web, logiciel ou mobile, afin de mettre
      mes compétences au service de projets innovants. <br /><br />
      Au cours de ma formation, j’ai acquis de solides bases en programmation,
      bases de données, réseaux et systèmes. Curieux et adaptable, j’aime
      relever de nouveaux défis et concevoir des solutions créatives qui font la
      différence.
    </p>
    <div class="button-block">
      <button [routerLink]="'/projets'">Voir mes projets</button>
    </div>
  </div>
</div>
