<footer id="footer">
  <div class="d-flex justify-content-center flex-wrap gap-3">
    <!-- Liens sociaux -->
    <div class="gap-5 liens">
      <a
        href="https://www.linkedin.com/in/alphdevful/"
        target="_blank"
        class="me-3"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="mailto:alphaoumar2260@gmail.com" target="_blank" class="me-3">
        <i class="fas fa-envelope"></i>
      </a>
      <a href="https://github.com/alphaDev-Full" target="_blank" class="me-2">
        <i class="fab fa-github"></i>
      </a>
    </div>

    <!-- Texte -->
    <p class="mb-0">&copy; 2025. Tous droits réservés. Balde Alpha Oumar.</p>
  </div>
</footer>
