<div class="home-block">
  <div class="container image-block" @slideInHorizontalLeft>
    <img src="/photo-alpha.jpg" class="" />
  </div>
  <div class="intro-block" @slideInHorizontalTop>
    <h1>ALPHA OUMAR BALDE</h1>
    <p>
      Passionné de développement web, j’explore le monde du Full Stack avec des
      outils puissants comme Angular.js, React.js, Node.js et Tailwind CSS.
      Chaque ligne de code est pour moi une opportunité d'innover et de
      simplifier la vie des utilisateurs...
    </p>
    <div class="button-block">
      <button>TELECHARGER MON CV</button>
    </div>
    <div class="citation">
      <p>
        Le code qui fonctionne, c'est bien. Le code qui dure, c'est mieux 🚀
      </p>
    </div>
    <div class="button-about">
      <button [routerLink]="'/about'">A propos</button>
    </div>
  </div>
</div>
